<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Cerveza Patagonia</title>
</head>
<body>
 <div class="home-wrapper-info home-panel" style="text-align: center;">
     <div class="form-home-wrapper-steps" style="background: transparent; width: 100%">
      <img src="/images/logo-color.png" alt="" class="logo-home">
     </div>
     <h2 style="color:#fff; margin-bottom: 50px;">El voucher ha sido <br> canjeado correctamente!</h2>

    <a href="/store-panel" class="step-3-button">Volver</a>
</div>
  <script src='/javascripts/script.js'></script>
</body>
</html>