<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Cerveza Patagonia</title>
</head>
<body>
 <div class="home-wrapper-info home-panel">
     <div class="form-home-wrapper-steps" style="background: transparent; width: 100%;">
      <img src="/images/logo-color.png" alt="" class="logo-home">
     </div>
      
     <div class="navigation-wrapper">
       <a href="/canjes-realizados">Canjes Realizados</a>
     </div>
   <div class="step-counter-code">
       <span>VOUCHER</span>
    </div>
    <p class="cargar-codigo-paragraph">INGRESAR EL CÓDIGO DEL VOUCHER</p>
    <form>
        <fieldset>
          <input type="text" name="code" autocomplete="off" id="voucher-value">
        </fieldset>
        <button type="submit" class="btn data-confirm" id="voucher-check">ENVIAR</button>
    </form>
    <div class="return-message-wrapper" id="message-wrapper">
      <p id="return-message"></p>
      <p id="return-message-kms"></p>
      <p id="voucher-owner"></p>
      <p id="voucher-prize"></p>
      <a href="" class="btn" id="trade-voucher">CANJEAR VOUCHER</a>
    </div>
<div class="logout-button">
    <a href="/logout">Cerrar Sesión</a>
  </div>
</div>
  <script src='/javascripts/script.js'></script>
</body>
</html>