<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Cerveza Patagonia</title>
</head>

<body>
  <div class="header-bases">
    <a href="/"><img src="/images/logo-color.png" alt=""></a>
  </div>
  <div class="bases-wrapper">
    <h2>BASES Y CONDICIONES</h2>

    <p class="bases-title">1. EL PROGRAMA</p>
    <p class="bases-description">
      1.1. El presente programa de beneficios llamado “Pasaporte Patagonia” (el “Programa”) es organizado por PATAGONIA BREWING
      COMPANY S.A. (el “Organizador”), CUIT 30- 71425168-2, con domicilio en la calle Charcas 5160, Ciudad Autónoma de Buenos
      Aires, Argentina, y se regirá por la normativa aplicable en la materia y, particularmente, por los presentes términos
      y condiciones (los “T&amp;C”)
    </p>
    <p class="bases-description">
      1.2. El Programa se encontrará vigente desde el 08/09/2017 hasta el 08/09/2018 (el “Período de Vigencia”). El Período de
      Vigencia podrá ser prorrogado por el Organizador, lo que será oportunamente informado.
    </p>

    <p class="bases-title">2. PARTICIPANTES</p>
    <p class="bases-description">
      2.1. Podrán participar del Programa las personas humanas mayores de 18 años que tengan residencia legal en la República Argentina
      y adquieran productos en los Refugios, conforme se definen más adelante, en carácter de destinatarios finales (el “Participante”
      o los “Participantes”).
    </p>
    <p class="bases-description">
      2.2. No podrán participar de este Programa los empleados ni personal directivo del Organizador y/o de sus empresas relacionadas,
      vinculadas, controlantes, controladas o sujetas a control común con el Organizador, las empresas contratadas por el
      Organizador para prestarle colaboración o servicios relacionados con el Programa, sus empresas relacionadas, vinculadas,
      controladas o sujetas a control común con éstas , ni familiares de todos los anteriores hasta el segundo grado de consanguinidad
      o afinidad.
    </p>

<p class="bases-title">
    3. MODO DE PARTICIPACIÓN

</p>
    <p class="bases-description">
      3.1. Para participar en el Programa el Participante deberá: (i) ingresar a la página web pasaporte.patagoniabrewingco.com
      (en adelante la “Web”); (ii) crear un usuario y una contraseña completando los siguientes campos: nombre, apellido,
      correo electrónico y DNI (el “Formulario”); (iii) aceptar estos T&amp;C y hacer click en el botón “ENVIAR” del Formulario
      para enviar sus datos al Organizador, a fin de recibir en el correo electrónico informado un código que servirá para
      activar su cuenta (el “Código”); (iv) apersonarse en uno de los refugios del Organizador que participen en el Programa
      (los cuales pueden consultarse en el siguiente link http://www.cervezapatagonia.com.ar/refugios) (en adelante los “Refugios”,
      e individual e indistintamente cualquiera de ellos, el “Refugio”); y (v) activar su cuenta con el Código obtenido en
      la caja del Refugio.

    </p>
    <p class="bases-description">
      3.2. Los Premios (conforme se definen más adelante) que el Participante adquiera a través del Programa sólo podrán ser canjeados
      en los Refugios. El Organizador se reserva el derecho de excluir a uno o más Refugios del Programa.

    </p>
    <p class="bases-description">
      3.3. La registración en el Programa por parte de los Participantes no implica obligación de compra alguna.

    </p>

  <p class="bases-title">

    4. ACUMULACIÓN DE KM
  </p>
    <p class="bases-description">
      4.1. Por cada compra de cualquiera de los productos vendidos en los Refugios (los “Productos”) y por la realización de distintas
      actividades que el Organizador proponga en la Web (los “Desafíos”), los Participantes obtendrán de puntos, llamados
      kilómetros (los “KM”). Las compras y actividades realizadas antes del Período de Vigencia no acumulan KM.

    </p>
    <p class="bases-description">
      4.2. Los KM adquiridos con motivo de la compra de Productos y la realización de los Desafíos serán acreditados en la cuenta
      del Participante del siguiente modo: El Participante deberá informar su Pasaporte Patagonia en la barra cada vez que
      consuma. Los KMs se verán reflejados en su cuenta con una demora de como máximo 24 horas posterior a la compra.

    </p>
    <p class="bases-description">
      4.3. A fin de acumular KM por la compra de los Productos, se tendrá en cuenta la relación KM/Pesos que se encuentre informada
      en la Web al realizar la compra. Esta relación podrá ser ajustada cuando sea necesario por parte del Organizador. Para
      el caso de los Desafíos, el Organizador informará directamente su valor en KM.

    </p>
    <p class="bases-description">
      4.4. Los Participantes pueden acumular KM de forma ilimitada.

    </p>
    <p class="bases-description">
      4.5. Los KM no vencen. Por lo tanto, podrán utilizarse hasta la finalización del Período de Vigencia del Programa.

    </p>
    <p class="bases-description">
      4.6. Los KM no pueden canjearse por dinero ni por ningún otro concepto distinto de los Premios.

    </p>
    <p class="bases-description">
      4.7. Los KM no pueden transferirse a terceros bajo ningún título o causa. Los Premios sólo serán asignados y entregados al
      Participante que canjeó los KM.

    </p>
    <p class="bases-description">
      4.8. El Organizador podrá deducir de las cuentas de los Participantes los KM que se hubieran acreditado por error o con motivo
      de una transacción que fuera cancelada.

    </p>
    <p class="bases-description">

      4.9. El Participante podrá consultar los movimientos de su cuenta a través de la Web. La acreditación de los KM podrán tardar
      hasta 24 horas en constar en los registros de su cuenta. Los KM sólo podrán ser canjeados una vez que figuren en la
      cuenta del Participante.
    </p>

<p class="bases-title">
  5. PREMIOS

</p>
    <p class="bases-description">
      5.1. Los Participantes podrán canjear los KM por los premios que se detallen en [por favor, indicar] (los “Premios”).

    </p>
    <p class="bases-description">
      5.2. La disponibilidad de los Premios estará sujeta al stock que en cada caso se informe.

    </p>
    <p class="bases-description">
      5.3. Sin perjuicio de lo indicado en la cláusula anterior, el Organizador podrá modificar los Premios disponibles cuando
      sea necesario.

    </p>

    <p class="bases-description">
      5.4. El valor en KM asignado a cada Premio podrá ser modificado por el Organizador cuando sea necesario. Esta modificación
      no afectará a los canjes que el Participante ya hubiera realizado.

    </p>
    <p class="bases-description">
      5.5. Para canjear los Premios el Participante deberá acercarse a cualquier refugio Patagonia y mostrar su código. Una vez
      realizado el canje, la cantidad de KM canjeada se descontará de la cantidad total de KM disponibles en su cuenta. El
      canje del código no descuenta la cantidad de kilómetros acumulados por el participante.

    </p>
    <p class="bases-description">

      5.6. El consumidor tiene derecho a revocar la presente operación comercial (por adquisición de cosas y/o prestación de servicios)
      durante el plazo de DIEZ (10) días corridos, contados a partir de la fecha en que se entregue la cosa o se celebre
      el contrato, lo último que ocurra, sin responsabilidad alguna. Esta facultad no puede ser dispensada ni renunciada.
      El consumidor comunicará fehacientemente dicha revocación al proveedor y pondrá la cosa a su disposición. Los gastos
      de devolución son por cuenta del proveedor. Para ejercer el derecho de revocación el consumidor deberá poner la cosa
      a disposición del vendedor sin haberla usado y manteniéndola en el mismo estado en que la recibió, debiendo restituir
      el proveedor al consumidor los importes recibidos.
    </p>


<p class="bases-title">
  6. CATEGORÍAS

</p>
    <p class="bases-description">
      6.1. En función de la cantidad de KM acumulados y de la realización de ciertos Desafíos, el Participante será asignado a
      distintos niveles de categorías (las “Categorías”) que podrán ser modificadas por el Organizador.

    </p>

    <p class="bases-description">
      6.2. La pertenencia a las Categorías otorgará a los Participantes distintos beneficios

    </p>
    <p class="bases-description">
      6.3. Durante el desarrollo del Programa, el Organizador podrá agregar o suprimir las categorías, lo que será oportunamente
      informado.

    </p>
<p class="bases-title">
  7. ENTREGA DE PREMIOS

</p>
    <p class="bases-description">
      7.1. Los Premios podrán ser enviados al domicilio que a tal efecto indique el Participante o bajo la modalidad que alternativamente
      se ofrezca en la Web.

    </p>

    <p class="bases-description">
      7.2. Si el Participante solicitara el envío del Premio a domicilio, éste podrá ser entregado a cualquier persona mayor de
      18 años que lo reciba en el domicilio en cuestión.

    </p>
    <p class="bases-description">

      7.3. Se deja expresamente aclarado que el costo del envío a domicilio de los Premios canjeados no se encuentra incluido en
      el valor del canje, por lo que deberá ser soportado por el Participante.
    </p>
    <p class="bases-description">
      7.4. El Premio será entregado cuando el Participante se acerque con su código a un refugio.

    </p>
<p class="bases-title">

  8. GASTOS
</p>
    <p class="bases-description">

      Cualquier gasto que se derive de la obtención y/o utilización del Premio canjeado no está incluido en el valor del canje
      ni será provisto por el Organizador, siendo responsabilidad exclusiva de los Participantes. El Organizador no será
      responsable por la demora en la entrega de los Premios o por la imposibilidad de entregar determinado Premio cuando
      ello ocurra por causa de terceros o razones de fuerza mayor. Cualquier desperfecto o mal funcionamiento del Premio
      deberá ser reclamado exclusivamente al proveedor del Premio en cuestión, no siendo el Organizador responsable en forma
      alguna por tal defecto. Todos los Participantes entienden que no existe ninguna otra obligación por parte del Organizador
      fuera de las aquí determinadas, y convienen en liberar y eximir de toda responsabilidad al Organizador, sus compañías
      matrices, subsidiarias y afiliadas, así como a sus respectivos empleados y directivos y a cualquier otra persona directamente
      involucrada con el Programa, de toda responsabilidad que en cualquier forma pueda surgir directa o indirectamente de
      su participación en el Programa y/o del uso de cualquier Premio, incluyendo, entre otras, la pérdida, lesión u otro
      daño de cualquier tipo a su persona y/o bienes.
    </p>
<p class="bases-title">

    9. USO INDEBIDO
</p>
    <p class="bases-description">
      9.1. El Participante acepta y reconoce que el Organizador podrá dar de baja su cuenta y anular los KM acumulados si viola
      lo indicado en estos T&amp;C. Ello, más allá de las acciones por daños y perjuicios que pudiera realizar.

    </p>
    <p class="bases-description">

      9.2. La permanencia y readmisión del Participante en el Programa está sujeta al cumplimiento de todo lo dispuesto en estos
      T&amp;C.
    </p>
<p class="bases-title">

  10. MODIFICACIÓN DE LOS T&amp;C
</p>
    <p class="bases-description">
      El Participante reconoce y acepta que estos T&amp;C podrán ser modificados por el Organizador.

    </p>
<p class="bases-title">

  11. RESPONSABILIDADES
</p>
    <p class="bases-description">
      El Organizador no será responsable por cualquier falla del sistema informático del Programa, en tanto tal falla no le sea
      imputable u obedezca al accionar de tercero o causas de fuerza mayor.

    </p>

    <p class="bases-title">
12. TERMINACIÓN
    </p>
    <p class="bases-description">
      12.1. El Participante podrá poner fin a su participación en el Programa en cualquier momento a través del sitio Web. Una
      vez solicitada la terminación de su participación en el Programa, el Participante no podrá disponer del saldo de KM
      que tuviere acumulado en su cuenta.

    </p>
    <p class="bases-description">
      12.2. Para el caso que el Organizador decidiera terminar el Programa anticipadamente, informará tal circunstancia a los Participantes
      con una antelación de 30 días corridos. Durante ese plazo, los Participante podrán utilizar el saldo de su cuenta para
      canjear los KM acumulados por Premios. Vencido ese plazo, los KM quedarán automáticamente anulados y no podrán ser
      utilizados. En este último caso, los Participantes nada tendrán que reclamar por tal concepto.

    </p>

<p class="bases-title">

  13. DATOS PERSONALES
</p>
    <p class="bases-description">
      13.1. El Organizador recopilará la siguiente información personal de los Participantes: (i) nombre; (ii) apellido; (iii)
      correo electrónico; y (iv) DNI. Al participar del Programa los Participantes autorizan al Organizador a utilizar dicha
      información para actividades promocionales.

    </p>
    <p class="bases-description">
      13.2. Los Participantes podrán ejercer los derechos de acceso, rectificación y/o supresión sobre sus datos (Ley 25.326) mediante
      la remisión de un correo electrónico a [pasaporte@patagoniabrewingco.com]. La provisión de los datos por parte de los
      Participantes del Programa es voluntaria pero es condición previa para participar en este y los participantes serán
      responsables de toda la información enviada. El titular de los datos personales tiene la facultad de ejercer el derecho
      de acceso a los mismos en forma gratuita a intervalos no inferiores a seis meses, salvo que se acredite un interés
      legítimo al efecto conforme lo establecido en el artículo 14, inciso 3 de la Ley Nº 25.326. La Dirección Nacional de
      Protección de Datos Personales, órgano de control de la Ley Nº 25.326, tiene la atribución de atender las denuncias
      y reclamos que se interpongan con relación al incumplimiento de las normas sobre protección de datos personales (Conf.
      Disposición 10/2008 de la Dirección Nacional de Protección de Datos Personales; B.O. 18/09/2008)./p>

    </p>
<p class="bases-title">
  14. AUTORIZACIÓN

</p>
    <p class="bases-description">

      Los Participantes autorizan al Organizador a difundir su nombre y/o imagen por el medio de comunicación que el Organizador
      considere oportuno durante la vigencia del Programa y por hasta tres (3) años después de su finalización, sin que los
      Participantes tengan derecho a reclamo o compensación alguna por ningún concepto.
    </p>
<p class="bases-title">
  15. LEY APLICABLE

</p>
    <p class="bases-description">
      Estos T&amp;C y su aplicación se regirán e interpretarán de acuerdo con las leyes de la República del Paraguay.

    </p>
<p class="bases-title">

    16. ACEPTACIÓN DE LOS T&amp;C
</p>

    <p class="bases-description">
      La participación en el Programa implica la aceptación de todas las condiciones establecidas en estos T&amp;C, las que se consideran
      conocidas por todos los Participantes.

    </p>
    <span>
      BEBIDAS ALCOHÓLICAS: BEBER CON MODERACIÓN. PROHIBIDA SU VENTA A MENORES DE 18 AÑOS.

    </span>
  </div>
</body>

</html>