<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-135431410-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-135431410-1');
</script>
<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '421567758603715');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=421567758603715&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
    <title>Cerveza Patagonia</title>
</head>

<body>
  <div class="header-bases">
    <a href="/"><img src="/images/logo-color.png" alt=""></a>
  </div>
  <div class="bases-wrapper">
    <h2>BASES Y CONDICIONES DE LA PROMOCIÓN “PASAPORTE PATAGONIA”</h2>
    <p class="bases-description">CERVEPAR S.A., con RUC N° 80086846-3, con domicilio en sus oficinas ubicadas en la Avenida Brasilia N° 721 casi Siria, de la ciudad de Asunción (en adelante el “ORGANIZADOR”) realizará la promoción denominada “PASAPORTE PATAGONIA” (en adelante la “PROMOCION”), conforme a las siguientes condiciones:</p>

    <p class="bases-title">1.1. ALCANCE Y DURACION </p>
    <p class="bases-description">
      1.1 Podrán participar en la PROMOCIÓN únicamente las personas físicas, de cualquier nacionalidad, que posean su documento de identidad vigente, con veinte (20) años de edad cumplidos o más (en adelante los “PARTICIPANTES”) que cumplan con la mecánica de participación prevista para esta PROMOCION los cuales podrán sumar Kilómetros en estas bases y condiciones (en adelante las “BASES”), adquiriendo códigos ocultos, a través de para canjearlos por cualquiera de los premios afectados a la PROMOCION.-      
    </p>
    <p class="bases-description">
      1.2	Los LOCALES ADHERIDOS a esta PROMOCION serán aquellos de las principales cadenas de Supermercados, Bodegas, Restaurantes y Bares que serán individualizados con materiales publicitarios de la PROMOCION, y que se encontrarán en las ciudades de Asunción, Gran Asunción, Encarnación y Ciudad del Este, no siendo esta lista taxativa, pudiendo haber LOCALES ADHERIDOS en otras ciudades de la República del Paraguay. La lista completa de los LOCALES ADHERIDOS figurará en la página web www.viajaconpatagonia.com.py.-
    </p>
    <p class="bases-description">
      1.3	La PROMOCION se extenderá desde el 01 de Marzo hasta el 31 de Mayo del 2.019 inclusive, o hasta que diez (10) PARTICIPANTES acumulen los Kilómetros necesarios para canjear los premios señalados en el inciso a) del apartado 2.1., conforme se explica más abajo en estas BASES. 
    </p>

    <p class="bases-title">2.	PREMIOS AFECTADOS A LA PROMOCION </p>
    <p class="bases-description">
      2.1	Los premios afectados a esta PROMOCIÓN (en adelante los “PREMIOS”), y que podrán ser ganados por los PARTICIPANTES a través de la mecánica señalada en el apartado 3 siguiente, son: 
<br><br>
a)	Diez (10) viajes a la Micro Cervecería de Patagonia, situada en Bariloche, Argentina, para dos personas. Cada uno de estos PREMIOS comprenderá un paquete (para dos personas; GANADOR y acompañante) que incluye pasaje en vuelo comercial ida y vuelta Asunción-Bariloche, con sus respectivas conexiones, en la compañía aérea a ser designadas por el ORGANIZADOR, tasa de embarque y tarjetas de asistencia al viajero; estadía por tres (3) noches en un Hotel a ser designado por el ORGANIZADOR, con habitaciones tipo estándar; traslados en el sitio; entrada y recorrido con experiencias en la Micro Cervecería de Patagonia, situada en Bariloche, Argentina. Diez (10) PARTICIPANTES distintos ganarán este PREMIO, entendiéndose que cada uno será merecedor de un (1) paquete, y podrá utilizar el mismo junto con un acompañante. El PREMIO no incluye entradas a otros sitios o locales turísticos ni traslado a los mismos, sin perjuicio de lo cual el ORGANIZADOR podrá, a su arbitrio, ofrecer a los PARTICIPANTES GANADORES entradas a otros sitios o locales turísticos, de acuerdo a disponibilidad. El PARTICIPANTE GANADOR de este PREMIO deberá elegir un (1) acompañante, quien deberá cumplir con los mismos requisitos exigidos en estas BASES para los PARTICIPANTES y quedará sujeto a las mismas causales de exclusión. GANADOR y acompañante harán uso del PREMIO en la misma fecha, la cual será definida por el ORGANIZADOR, quien manifiesta desde ya que los viajes y el paquete que comprenden el PREMIO de esta PROMOCION serán únicamente entre los meses de julio y agosto del 2019. Por lo demás, el ORGANIZADOR y el PARTICIPANTE GANADOR de este PREMIO coordinarán todos los detalles para hacer uso del mismo de conformidad a lo establecido en los puntos 3.3. inc. b) y 3.4 de estas BASES.-
<br>
<br>
b)	Merchandising de la marca Patagonia
<br>i.	300 mochilas 
<br>ii.	500 remeras 
<br>iii.	500 gorros 
<br>iv.	200 vales de consumición para el Refugio Patagonia, situado en Cruz del Chaco y Souza, Asunción.- 
<br>v.	2000 Vasos
<br>vi.	100 Growlers cargados más una recarga de 1,9 litros de Cerveza Patagonia


    </p>
    <p class="bases-description">
      2.2	Los PARTICIPANTES podrán canjear los PREMIOS en la forma señalada en el apartado 3.3.
    </p>
    <p class="bases-description">
     2.3	Los PARTICIPANTES aceptan y reconocen desde ya que el derecho a canjear los PREMIOS es personalísimo, y que los PREMIOS son intransferibles y no pueden ser reemplazados por dinero, otro premio u otro valor. 
    </p>

<p class="bases-title">
    3. MECANICA

</p>
    <p class="bases-description">
      3.1	Los PARTICIPANTES deberán acumular Kilómetros (puntos) para canjearlos por los PREMIOS. Los PARTICIPANTES conseguirán los Kilómetros de una de las siguientes maneras:
<br><br> a)	Comprando en cualquier LOCAL ADHERIDO un pack de productos de la marca Patagonia que se encuentre adherido a la PROMOCION, encontrarán en el mismo un código oculto, el cual, a su vez, tendrá cierta cantidad de Kilómetros, de acuerdo al siguiente detalle:
<br>•	Pack de cuatro (4) Botellas de 355 cc = Código oculto con 25 Kilómetros.
<br>•	Pack de cuatro (4) Botellas de 730cc = Código oculto con 30 Kilómetros.
<br>•	Pack de seis (6) latas de 473 cc = Código oculto con 35 Kilómetros.
<br>•	Pack de seis (6) latas 24.7 de 473 cc = Código oculto con 40 Kilómetros.
<br><br>
b)	Comprando cualquiera de las variedades de la cerveza Patagonia en su versión chopp expedidas en manijas al efecto, en el Refugio Patagonia situado en Cruz del Chaco y Souza, Asunción, y en cualquier otro LOCAL ADHERIDO a la PROMOCION (que sea del rubro Bar o Restaurante), lo que le otorgará derecho a obtener códigos ocultos, que a su vez tendrán cierta cantidad de Kilómetros, de acuerdo al detalle de más abajo, haciendo la salvedad desde ya que cada PARTICIPANTE podrá adquirir hasta 15 códigos ocultos por día bajo esta mecánica:

<br>•	Vaso de Chopp de Patagonia de 300 cc o 500 cc = 1 código oculto con 10 Kilómetros.
<br>•	1 Promoción de tres (3) botellas de 730 cc = 1 código oculto con 35 Kilómetros.


    </p>
    <p class="bases-description">
      3.2 Los PARTICIPANTES deberán acceder a la página web www.viajaconpatagonia.com.py, crearse un perfil de usuario, y cargar los códigos ocultos que hubieren conseguido de alguna de las formas señaladas en los incisos a) y b) del apartado 3.1 que antecede. Cada código oculto cargará al perfil del PARTICIPANTE los kilómetros que le correspondan, de acuerdo al detalle señalado en el apartado anterior. Los kilómetros serán acumulables durante toda la vigencia de la PROMOCION, y los PARTICIPANTES podrán obtener códigos ocultos ilimitadamente durante dicho plazo.
    </p>
    <p class="bases-description">
     3.3	En cualquier momento durante el periodo de vigencia de la PROMOCION, los PARTICIPANTES podrán canjear sus kilómetros por los premios correspondientes, según la tabla de equivalencia kilómetros/premios que estará subida a la página web señalada anteriormente. Una vez canjeados kilómetros por premios determinados, estos kilómetros serán consumidos; es decir, se restarán los kilómetros utilizados por el PARTICIPANTE de los kilómetros que tenga acumulados. El proceso de canje de los PREMIOS será el siguiente, de acuerdo al tipo de PREMIO:

<br>a)	Para canjear los PREMIOS del tipo Merchandising (inciso b, apartado 2.1.), los PARTICIPANTES deberán acercarse a los Centros de Canjes, los cuales estarán detallados en la página web y serán individualizados con material publicitario de la PROMOCION. En el Centro de Canje, el funcionario encargado tendrá acceso al sistema que informará la cantidad de Kilómetros acumulados por cada PARTICIPANTE. El PARTICIPANTE comunicará al funcionario cuales de los PREMIOS querrá canjear por sus kilómetros, siempre de acuerdo a la tabla de equivalencia Kilómetros/Premios, y en el lugar se le entregará el mismo, previa deducción de sus Kilómetros en su perfil de usuario en el sistema. Es requisito indispensable para el canje y retiro de estos PREMIOS que el PARTICIPANTE acuda personalmente al Centro de Canje, presente su cédula de identidad  y el código del voucher generado en la web, y firme los documentos que acrediten la recepción conforme del PREMIO canjeado y retirado. Sin esto, el encargado del Centro de Canje no podrá corroborar los Kilómetros acumulados ni realizar el canje correspondiente.
 
<br>b)	Para canjear el PREMIO consistente en el Viaje a la Micro Cervecería (inciso a, apartado 2.1.), el PARTICIPANTE que tenga acumulados los Kilómetros necesarios para ser acreedor del mismo –conforme a la tabla de equivalencia Kilómetros/premios-, deberá presentarse personalmente a las oficinas del ORGANIZADOR, situadas en Brasilia 721 casi Siria, Asunción, en días hábiles, de lunes a viernes, entre las 9 AM y las 17 PM. En el lugar, avisará que desea canjear dicho PREMIO, y entregará al encargado de la PROMOCION por parte del ORGANIZADOR una copia de su documento de identidad y copia de al menos una factura legal emitida a su nombre que acredite que el mismo sumó Kilómetros mediante alguna de las formas señaladas en el apartado 3.1. de estas BASES, sea comprando un pack de los productos Patagonia (inciso a) o consumiendo los Productos de la marca (inciso b) en alguno de los LOCALES ADHERIDOS a la PROMOCION. El ORGANIZADOR verificará que el PARTICIPANTE tenga los Kilómetros necesarios para canjearlos por el PREMIO, así como también si el PARTICIPANTE cumple con los demás requisitos y condiciones señaladas en estas BASES y si no se encuentra impedido por alguna de las causales establecidas en el punto 8, y responderá al PARTICIPANTE dentro de las 48 horas siguientes a su solicitud de canje, confirmando o no si el mismo es oficialmente GANADOR del PREMIO consistente en el Viaje a la Micro Cervecería. La entrega de todos los documentos necesarios para viajar así como la coordinación de todos los demás detalles, será realizada posteriormente entre el ORGANIZADOR, el PARTICIPANTE GANADOR y la Agencia de Viajes pertinente.


    </p>
    <p class="bases-description">
    
3.4	Será responsabilidad exclusiva del PARTICIPANTE ganador contar con la documentación personal que le sea requerida para hacer uso del PREMIO consistente en el Viaje a la Micro Cervecería, y cumplir con las exigencias migratorias y sanitarias necesarias para salir de la República del Paraguay e ingresar y permanecer en la República Argentina, por lo que reconoce expresamente que nada podrá reclamar al ORGANIZADOR si no puede hacer uso del PREMIO por no cumplir con estos requisitos. Corre la misma responsabilidad con relación a la documentación de su acompañante. Todos los gastos en los que pueda incurrir el PARTICIPANTE GANADOR y su acompañante a estos efectos serán a su cuenta y cargo. 
</p>
  <p class="bases-title">

    4. ANUNCIOS 
  </p>
    <p class="bases-description">
     El nombre de los PARTICIPANTES que resulten ganadores de cualquiera de los PREMIOS, especialmente el consistente en el Viaje a la Micro Cervecería, podrá ser dado a conocer por el ORGANIZADOR a través de los perfiles de la marca PATAGONIA en todas las redes sociales, en sus páginas web y en cualquier otro medio de comunicación, por el tiempo que lo considere necesario. Así mismo, la aceptación de las presentes BASES implica la cesión por parte de los PARTICIPANTES GANADORES a favor del ORGANIZADOR y/o sus filiales, del derecho a utilizar su imagen en ocasión al uso del PREMIO consistente en el Viaje a la Micro Cervecería, difundiéndola en las redes sociales de la marca PATAGONIA, en sus páginas web y en cualquier otro medio de comunicación que considere necesario, por un tiempo de hasta tres (3) años contados a partir del uso del PREMIO, sin costo alguno.  
    </p>

<p class="bases-title">
  5. PROHIBICION DE PARTICIPAR EN LA PRESENTE PROMOCION 

</p>
    <p class="bases-description">
 5.1	No podrán participar de la PROMOCION: 
<br><br>a)	Personas menores de veinte (20) años de edad;
<br>b)	Directivos y empleados del ORGANIZADOR y de cualquier otra sociedad o empresa del grupo ABINBEV; 
<br>c)	Personas que presten servicios profesionales tercerizados al ORGANIZADOR; 
<br>d)	Directivos y empleados de empresas o particulares que el ORGANIZADOR contrate para proveer cualquier servicio relacionado a la PROMOCION, y de las empresas o particulares que sean subcontratadas para ello;
<br>e)	Directivos y empleados de los LOCALES ADHERIDOS a la PROMOCION;
<br>f)	Personas que al momento de la adjudicación o canje de los PREMIOS se vea afectada por una condena penal firme dictada en cualquier Jurisdicción, Nacional o Extranjera, o sobre quien pese una medida alternativa u orden judicial de arresto domiciliario o prohibición de salir del país; y,
<br>g)	Quienes tengan relación de parentesco con alguna de las personas referidas en los incisos b), c), d), e) y f) del presente apartado, hasta el tercer grado de consanguinidad o segundo de afinidad.-


    </p>


<p class="bases-title">
  6.	EXENCION DE RESPONSABILIDAD 

</p>
    <p class="bases-description">
     Los PARTICIPANTES eximen expresamente al ORGANIZADOR de toda responsabilidad por cualquier daño proveniente de caso fortuito, fuerza mayor y/o hechos de terceros, que no sean directamente imputables al ORGANIZADOR. De igual forma, la responsabilidad del ORGANIZADOR con respecto a los PARTICIPANTES GANADORES de los PREMIOS estará limitada al cumplimiento de lo establecido en estas BASES, quedando expresamente excluida cualquier responsabilidad derivada de eventuales accidentes, daños o perjuicios que ocurran durante el uso de los PREMIOS o mantengan relación con los mismos. Esta exención de responsabilidad se extiende a los daños y perjuicios que puedan sufrir terceros y que ocurran en ocasión del uso de los PREMIOS por parte de los PARTICIPANTES GANADORES.- 

    </p>

<p class="bases-title">
  7.	INTERRUPCION, SUSPENSION O CANCELACION DEFINITIVA DE LA PROMOCION 

</p>
    <p class="bases-description">
      El ORGANIZADOR podrá interrumpir, suspender o cancelar definitivamente la PROMOCIÓN, sin que ello implique ningún tipo de responsabilidad para el mismo ni otorgue derecho alguno a los PARTICIPANTES, cuando compruebe la existencia de fraude, o existan hechos de fuerza mayor o ajenos a su responsabilidad que tornen onerosa la continuación de la PROMOCION o su realización misma. De ser este el caso, el ORGANIZADOR comunicará tal circunstancia a través de los medios de comunicación masiva que aquel estime convenientes y adecuados para tal fin. 

    </p>
<p class="bases-title">

  8.	CONSULTAS Y ACLARACIONES 
</p>
    <p class="bases-description">
Los PARTICIPANTES que deseen realizar consultas o solicitar aclaraciones referentes a la presente PROMOCION, deberán ponerse en contacto con el ORGANIZADOR llamando al número 021-588- 6000 o mandar un correo a ymperalp@cervepar.com.py -
    </p>
<p class="bases-title">

    9. ACEPTACIÓN
</p>
    <p class="bases-description">
      La participación en esta PROMOCION, implica por parte de los PARTICIPANTES el conocimiento y aceptación de todas y cada uno de las condiciones de estas BASES, así como también el reconocimiento de que las decisiones tomadas por el ORGANIZADOR tendrán carácter de definitivas e inapelables, toda vez que sean debidamente comunicadas y no resulten abusivas e infundadas.- 
    </p>
<p class="bases-title">

  10. SITUACIONES NO PREVISTAS
</p>
    <p class="bases-description">
    Esta PROMOCION se rige por las leyes de la República del Paraguay. Toda situación no prevista para la misma en estas BASES, que pudiera derivar en un conflicto entre el ORGANIZADOR y los PARTICIPANTES, podrá ser resuelta a pedido de las partes por la CONAJZAR, quedando expedita la vía jurisdiccional en caso que los interesados así lo consideren para la mejor defensa de sus derechos, para lo cual se someterán a la competencia de los Tribunales Ordinarios de la Ciudad de Asunción.-

    </p>
    <div class="legal-wrapper">
            <span style="text-align:center">SU CONSUMO EN EXCESO DAÑA LA SALUD. ESTA PROHIBIDA SU VENTA A LOS MENORES DE 20 AÑOS.
            Lo advierte el Ministerio de Salud Pública y Bienestar Social</span>
          </div>
  </div>
</body>

</html>