<div class="home-wrapper-info">
   <div class="step-counter-code">
       <span> CARGAR CÓDIGO</span>
    </div>
    <p class="cargar-codigo-paragraph">INGRESAR EL CÓDIGO DEL PACK</p>
    <form>
        <fieldset>
          <input type="text" name="code" autocomplete="off" id="code-value">
        </fieldset>
        <button type="submit" class="btn data-confirm" id="code-charge">CARGAR CÓDIGO</button>
    </form>
    <div class="return-message-wrapper" id="message-wrapper">
      <p id="return-message"></p>
      <p id="return-message-kms"></p>
      <a href="/premios" class="btn">VER TODOS LOS PREMIOS</a>
    </div>
</div>