<div class="home-wrapper-info">
  <div class="step-counter-home">
    <span>PREGUNTAS FRECUENTES</span>
  </div>
  <div class="faqs-wrapper">
    <div class="faqs-text">

    </div>
    <div class="faqs-form">
      <p>¡Envianos tus conusltas!</p>
      <form>
        <div>
          <label for="">Email</label>
          <input type="email" name="" id="">
        </div>
        <div>
          <label for="">Celular</label>
          <input type="celular" name="" id="">
        </div>
        <div class="text-area-wrapper">
          <label for="">Consulta</label>
          <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>
        <button id="faq-button-submit" class="btn home-button">ENVIAR</button>
      </form>
    </div>
  </div>
</div>