<div class="home-wrapper-info">
  <div class="step-counter-home">
    <span>PREGUNTAS FRECUENTES</span>
  </div>
  <div class="faqs-wrapper">
    <div class="faqs-text">
      <div class="faq-question-wrapper">
        <p class="faq-question">1. ¿Cómo hago para participar?</p>
        <div class="faq-answer">
          <ul>
            <li>Comprando un pack de productos Patagonia en cualquiera de sus presentaciones adheridas a la promoción en los puntos de venta adheridos.</li>
            <li>Buscar el código oculto que aparece en el pack.</li>
            <li>Ingresar a la web www.viajaconpatagonia.com.py  </li>
            <li>Ingresar el código oculto para empezar a acumular kilómetros que te permitirán canjear por premios de la marca, o si sos una de las 10 primeras personas en acumular 2.640 kilómetros, te ganas un viaje a Bariloche con un acompañante para conocer la Micro cervecería de Patagonia.</li>
          </ul>
        </div>
      </div>
      <div class="faq-question-wrapper">
        <p class="faq-question">2. ¿Cuánto vale cada pack?</p>
        <div class="faq-answer">
          <ul>
            <li>Chopp = 10 kms</li>
            <li>Pack de 4 unidades de 355ml = 25 kms</li>
            <li>Pack de 6 unidades de 473ml de la variedad 24.7 = 40 kms</li>
            <li>Pack de 6 unidades de 473ml variedades Amber Lager y Weisse = 35 kms</li>
            <li>Pack de 4 unidades de 730ml = 30 kms</li>
          </ul>
        </div>
      </div>
      <div class="faq-question-wrapper">
        <p class="faq-question">3. ¿Dónde puedo conseguir los packs/productos que participan??</p>
        <div class="faq-answer">
          Podes encontrarlos en los principales Supermercados, Bodegas, Estaciones de Servicios de Asunción, Ciudad del Este y Encarnación. También en Bares y Restaurantes que comunicaremos previamente en nuestras redes sociales.

        </div>
      </div>
      <div class="faq-question-wrapper">
        <p class="faq-question">4. ¿Cuántos kilómetros vale cada premio?</p>
        <div class="faq-answer">
          <ul>
            <li>Un viaje a Bariloche: 2640kms</li>
            <li>Mochila: 200kms</li>
            <li>Gorro: 80kms</li>
            <li>Growler: 80kms</li>
            <li>Remera: 100kms</li>
            <li>Vaso 60kms</li>
            <li>Vale de Consumición: 60kms</li>
            <li>Abridor: 40kms</li>
          </ul>
        </div>
      </div>

      <div class="faq-question-wrapper">
        <p class="faq-question">5. ¿Dónde puedo canjear mis premios?</p>
        <div class="faq-answer">
          Tenemos habilitados los siguientes centros de canje en Asunción:
          <ul>
            <li>Refugio Patagonia Recoleta - Asunción – Alberto de Souza esq Cruz del Chaco (de 18 a 23hs, Todos los días)</li>
            <li>Góndola Patagonia Foodpark Mburucuya - Asunción (de 18 a 23hs, Martes a Domingos)</li>
            <li>Góndola Patagonia Varea Gourmet - Ciudad del Este (de 18 a 23hs, Martes a Domingos)</li>
            <li>Gran Via Fuji - Ciudad del Este (de 12 a 21hs, Miércoles a Domingos)</li>
            <li>Superseis Irrazabal - Encarnación (de 12 a 21hs, Miércoles a Domingos)</li>
          </ul>
          Podes acercarte con tu voucher electrónico (no es necesario imprimirlo, podés mostrarlo desde la pantalla de tu celular).

<br><br>En algunas ocasiones tendremos habilitados algunos puntos de canje adicionales, para saber más ingresa a nuestras sociales, Facebook e Instagram.

        </div>
      </div>
      <div class="faq-question-wrapper">
        <p class="faq-question">6. ¿Hasta cuándo puedo participar?</p>
        <div class="faq-answer">
          La promoción tiene vigencia hasta el 31 de Mayo del 2019 o hasta que los primeros 10 consumidores lleguen a 2640kms y ganen el viaje a nuestra Micro cervecería. 
        </div>
      </div>
      <div class="faq-question-wrapper">
        <p class="faq-question">7. ¿Pueden participar menores de edad?</p>
        <div class="faq-answer">
          No, los premios pueden ser canjeados por personas a partir de 20 años.
        </div>
      </div>
      <div class="faq-question-wrapper">
        <p class="faq-question">8. ¿Qué hago si no me acepta un código que intento cargar?</p>
        <div class="faq-answer">
          En esta misma página encontrarás la opción de enviarnos un mensaje, indicándonos el inconveniente y tus datos (nombre, dirección de correo, celular) y nos pondremos en contacto para solucionarlo a la brevedad.
        </div>
      </div>
       <div class="faq-question-wrapper">
        <p class="faq-question">9. ¿Cómo son los packs de la promoción Pasaporte?</p>
        <div class="faq-answer">
          <div class="image-faq-container">
<div class="faq-image-wrapper"><img src="/images/pack_1.png" alt=""></div>
          <div class="faq-image-wrapper"><img src="/images/pack_2.png" alt=""></div>
          <div class="faq-image-wrapper"><img class="bigger" src="/images/pack_3.png" alt=""></div>
          <div class="faq-image-wrapper"><img class="bigger" src="/images/pack_4.png" alt=""></div>
          </div>
          
        </div>
      </div>
      <div class="faq-question-wrapper">
        <p class="faq-question">10. ¿Cuántos códigos puedo ingresar por día?</p>
        <div class="faq-answer">
          Podés ingresar hasta 5 códigos por día.
        </div>
      </div>
    </div>
    <div class="faqs-form">
      <p>¡Envianos tus consultas!</p>
      <form method="POST" action="/enviar-consulta" class="consulta-form">
        <div>
          <label for="">Email</label>
          <input type="email" name="email" id="consultar-email">
        </div>
        <div>
          <label for="">Celular</label>
          <input type="celular" name="phone" id="consultar-phone">
        </div>
        <div class="text-area-wrapper">
          <label for="">Consulta</label>
          <textarea name="consulta" id="consultar-mensaje" cols="30" rows="10"></textarea>
        </div>
        <p id="consultar-return-message"></p>
        <button id="consultar-button" class="btn home-button">ENVIAR</button>
      </form>
    </div>
  </div>
</div>