<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-135431410-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-135431410-1');
</script>
<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '421567758603715');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=421567758603715&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
    <title>Cerveza Patagonia Paraguay</title>
</head>

<body>
  <div class="header-error">
    <a href="/">
      <img src="/images/logo-color.png" alt="" class="logo">
    </a>
    <div class="message-error-wrapper">
      <img src="images/beer-bottle.png" alt="">
      <div class="text-error-wrapper">
        <h3>Ups! Error 404! <br> No pudimos encontrar la página que estás buscando!</h3>
        <p>Pero tranquilo, tomáte una cerveza y volvé a revisar si la dirección que ingresaste está bien!</p>
        <p>Si seguís teniendo problemas ponéte en contacto con nosotros.</p>
      </div>
    </div>
        <div class="bases-footer">
          <img src="images/lupulo.png" alt="">
          <a href="/bases-condiciones">BASES Y CONDICIONES</a>
          <span>BEBER CON MODERACIÓN. PROHIBIDA SU VENTA A MENORES DE 18 AÑOS.</span>
    </div>
  </div>

</body>

</html>
