<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-135431410-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-135431410-1');
</script>

  <title>Cerveza Patagonia</title>
</head>
<body>
  <div id="tutorial-wrapper">
    <img src="/images/error.svg" alt="" id="close-pop-up">
    <div class="tutorial-image-wrapper">

    </div>
  </div>
  <div class="home-wrapper">
    <div class="landscape-wrapper">

    </div>
    <div class="form-home-wrapper">
      <img src="/images/logo-color.png" alt="" class="logo-home">
      <h1 style="text-align:center">¡Bienvenido!</h1>
      <h2>Cada Cerveza te lleva a Bariloche</h2>
      <img src="/images/lupulo.png" alt="" class="lupus-icon">
      <div class="home-text-wrapper">
        <h3>Acá podes acumular kilómetros para viajar a conocer nuestra Microcerveria o canjearlos por premios exclusivos.</h3>
      </div>
      <div class="validator-wrapper">
        <input type="checkbox" id="mayor-input">
        <label for="" id="mayor-trigger">Soy mayor de 20 años</label>
      </div>
      <div class="generate-wrapper">
      <a href="/registro/step-1" class="btn home-button disabled" id="nuevo-usuario-btn">GENERAR MI USUARIO</a>
      <a href="/auth/facebook" class="btn home-button disabled fb" id="nuevo-usuario-btn-fb">CONECTAR CON FACEBOOK</a>
      </div>
      <hr>
      <div class="validator-wrapper">
      <a href="/login" class="btn home-button">YA TENGO MI USUARIO</a>
      </div>
      <div class="bases-footer">
        <a href="/bases-condiciones">BASES Y CONDICIONES</a>
      </div>
      <div class="legal-wrapper">
            <span style="text-align:center; text-transform:uppercase">SU CONSUMO EN EXCESO DAÑA LA SALUD. ESTA PROHIBIDA SU VENTA A LOS MENORES DE 20 AÑOS. Lo advierte el Ministerio de Salud Pública y Bienestar Social</span>
    </div>
    </div>
  
  </div>
  <script src='/javascripts/script.js'></script>
</body>
</html>
