<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Cerveza Patagonia</title>
</head>
<body>
  <div class="home-wrapper-steps">
    <div class="landscape-wrapper">

    </div>
    <div class="form-home-wrapper-steps">
      <img src="/images/logo-color.png" alt="" class="logo-home">
      <h2>¡Cada Cerveza te lleva a Bariloche!</h2>
      <img src="/images/lupulo.png" alt="" class="lupus-icon login">
      <div class="home-text-wrapper" style="margin-bottom: 15px;">
        <h3>Ingresa a tu cuenta y acumulá kms.</h3>
      </div>
      <form action="/auth/login" method="post" onsubmit="return validateLogin()" name="step-three-form">
        <fieldset>
          <input type="text" name="dni" autocomplete="off">
          <label for="">Cédula/Pasaporte</label>
        </fieldset>
        <fieldset>
          <input type="password" name="password" autocomplete="off">
          <label for="">Password</label>
        </fieldset>
        <p id="form-error-message"></p>
        <button type="submit" class="btn data-confirm login">INGRESAR</button>
        <p class="forgot-password">No recuerdo mi contraseña. Recuperar <a href="/recuperar-password" class="forgot-password">aquí.</a></p>
      </form>

      <div class="bases-footer">
        <a href="/bases-condiciones">BASES Y CONDICIONES</a>
        <span>BEBER CON MODERACIÓN. PROHIBIDA SU VENTA A MENORES DE 18 AÑOS.</span>
      </div>
    </div>
  </div>
  <script src='/javascripts/script.js'></script>
</body>
</html>