<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-135431410-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-135431410-1');
</script>

  <title>Cerveza Patagonia</title>
</head>
<body>
  <div class="home-wrapper-steps">
    <div class="landscape-wrapper">

    </div>
    <div class="form-home-wrapper-steps">
      <img src="/images/logo-color.png" alt="" class="logo-home">
      <h2>Recuperar Contraseña</h2>
      <img src="/images/lupulo.png" alt="" class="lupus-icon login">
      <div class="home-text-wrapper" style="margin-bottom: 30px">
        <h3>Ingresa tu dirección de correo y te enviaremos un link para que puedas regenerar tu contraseña.</h3>
      </div>
      <form name="step-three-form">
        <fieldset>
          <input type="text" name="email" autocomplete="off" required id="recuperar-email">
          <label for="">Email</label>
        </fieldset>
        <p id="form-error-message"></p>
        <button id="recuperar-button" class="btn data-confirm login" style="margin-bottom: 50px;">ENVIAR</button>
      </form>

      <div class="bases-footer">
        <a href="/bases-condiciones">BASES Y CONDICIONES</a>
      </div>
        <div class="legal-wrapper">
            <span style="text-align:center; text-transform:uppercase">SU CONSUMO EN EXCESO DAÑA LA SALUD. ESTA PROHIBIDA SU VENTA A LOS MENORES DE 20 AÑOS. Lo advierte el Ministerio de Salud Pública y Bienestar Social</span>
          </div>
    </div>
  </div>
  <script src='/javascripts/script.js'></script>
</body>
</html>