<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-135431410-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-135431410-1');
</script>
<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '421567758603715');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=421567758603715&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
  <title>Cerveza Patagonia</title>
</head>
<body>
  <div class="home-wrapper-steps">
    <div class="landscape-wrapper">

    </div>
    <div class="form-home-wrapper-steps">
      <img src="/images/logo-color.png" alt="" class="logo-home">
      <h2>¡Cada Cerveza te lleva a Bariloche!</h2>
      <p class="step-counter">Paso 2 de 3</p>
      <h3>Elegí una contraseña</h3>
      <p class="message-step-2">Tu usuario es tu Nro. de Cédula. Ahora tenés que elegir una contraseña de acceso.</p>
      <form action="/auth/signup/password" method="post" onsubmit="return validateSecondStepForm()" name="step-two-form">
        <fieldset>
          <input type="password" name="password" autocomplete="off">
          <label for="">Contraseña</label>
        </fieldset>
        <fieldset>
          <input type="password" name="repeat" autocomplete="off">
          <label for="">Confirmar contraseña</label>
        </fieldset>
        <p id="form-error-message"></p>
        <button type="submit" class="btn data-confirm">CONFIRMAR CONTRASEÑA</button>
      </form>

      <div class="bases-footer">
        <a href="/bases-condiciones">BASES Y CONDICIONES</a>
        
      </div>
  <div class="legal-wrapper">
            <span style="text-align:center; text-transform:uppercase">SU CONSUMO EN EXCESO DAÑA LA SALUD. ESTA PROHIBIDA SU VENTA A LOS MENORES DE 20 AÑOS. Lo advierte el Ministerio de Salud Pública y Bienestar Social</span>
        </div>
    </div>
  </div>
  <script src='/javascripts/script.js'></script>
</body>
</html>