<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Cerveza Patagonia</title>
</head>
<body>
  <div class="home-wrapper-steps">
    <div class="landscape-wrapper">

    </div>
    <div class="form-home-wrapper-steps">
      <img src="/images/logo-color.png" alt="" class="logo-home">
      <p class="step-counter">Paso 3 de 4</p>
      <h2>Activá tu usuario</h2>
      <p class="message-step-2">Revisa tu correo, te enviamos un link para activar tu usuario.</p>
      <img src="/images/usuario_pendiente@2x.png" alt="" class="usuario-pendiente-img">
      <a href="registro/step-4" class="step-3-button">Ir al siguiente paso!</a>
      
      <div class="bases-footer">
        <a href="/bases-condiciones">BASES Y CONDICIONES</a>
        <span>BEBER CON MODERACIÓN. PROHIBIDA SU VENTA A MENORES DE 18 AÑOS.</span>
      </div>
    </div>
  </div>
  <script src='/javascripts/script.js'></script>
</body>
</html>